
p {
    margin-top: 0;
    margin-bottom: 0;
}

.centered {
    /* 	display: block; */
    margin: 0px auto;
}

.centered_text {
    /* 	display: block; */
    margin: 0px auto;
    text-align: center;
}

.row_1 {
    background-color: rgba(240, 240, 240, 0.7);
}

.row_2 {
    background-color: rgba(220, 22, 220, 0.7);
}